		<link rel="stylesheet" href="home/template/css/produt.css" />
		</div>
			<div class="banner">
			<div class="container">
				<ul>
					<?php foreach($banner as $k=>$v){?>
						<li><a href="<?php echo $v['banner_url'];?>"><img src="<?php echo $v['banner_info'];?>" alt=""/></a></li>
					<?php };?>
				</ul>
			</div>
		</div>
		
		
		<div class="main">
			<div class="container">
				<p class="location">当前位置：<a href="index.html">首页</a>><span class="current">产品中心</span></p>
				
				<div class="menu_pro">
					<h1>Product display</h1>
					<h2>产品中心</h2>
					<div class="nav">
						<!--  class="current" -->
						<ul>
						<?php foreach($produt as $k=>$v){?>
							<li><a href="<?php echo BASE_URL?>index.php?c=produt&a=index&id=<?php echo $v['id'];?>"><?php echo $v['category_name'];?></a></li>
						<?php };?>
						</ul>
					</div>
				</div>
				<div class="center">
					<ul>
					<?php foreach($rs as $k=>$v){?>
						<li><a href="<?php echo BASE_URL?>index.php?c=produt-detail&a=index&id=<?php echo $v['id'];?>"><img src="<?php echo $v['pro_photo'];?>" alt=""/></a>
							<p><a href="<?php echo BASE_URL?>index.php?c=produt-detail&a=index&id=<?php echo $v['id'];?>"><?php echo $v['pro_name'];?></a></p>
						</li>
					<?php };?>
					</ul>
				</div>
				<!--页码-->
				
			<div class="page">
			<?php echo $re['page'];?>
<!-- 				<a href="#" class="pre">上一页</a>
					<a href="#" class="current">1</a>
					<a href="#">2</a>
					<a href="#" class="next">下一页</a>
					<span>到第<input type="text" value="" />页</span>
					<input type="button" value="跳转" class="btn" />
					<span>共六页</span> -->
			</div>
			</div>
		</div>